<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>
<h1>ホーム画面</h1>

<%= link_to "東京", homes_tokyo_path %>
<%= link_to "函館", homes_hakodate_path %>
<%= link_to "名古屋", homes_nagoya_path %>
<%= link_to "大阪", homes_osaka_path %>
